* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

img {
  border-radius: .5em;
}

.footer {
  background-color: #212529;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  display: flex;
  height: 5em; 
}